/* -----------------------fonts from google ------------------------------
-------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* --------------------------------common styles-----------------------------
-------------------------------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.primary-button {
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(45deg, #9c095a, #ff008e);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 7px #ff008e;
  position: relative;
  top: 0;
  margin-top: 10px;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0 2px #ff008e;
}
.primary-button:hover {
  background-image: linear-gradient(45deg, red, green, blue);
}
.highlight {
  color: #ff008e;
}

/* ----------------header part's css----------------------------------------
 ---------------------------------------------------------------------------*/

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  color: rgb(201, 87, 87);
  font-weight: 600px;
  padding: 15px 10px;
}
.section-one {
  margin-bottom: 70px;
}
.section-two {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  margin-left: 35px;
  margin-bottom: 70px;
}
.section-two-right img {
  width: 70%;
  margin-left: 100px;
}
/* ----------------------main section csss-----------------------
--------------------------------------------------------------- */
main {
  margin-bottom: 50px;
}

.products-title {
  text-align: center;
  margin-top: 100px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 0 auto;
  margin-left: 25px;
}
.product {
  border: 1px solid rgb(245, 166, 166);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin-bottom: 25px;
}
.product img {
  width: 200px;
}
.see-more {
  text-align: right;
}
.see-more a {
  text-decoration: none;
}
/*---------------------------- extra part css-----------------
-------------------------------------------------------------- */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-left img {
  width: 90%;
  margin-top: 30px;
  margin-left: 10px;
}
.contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.text-field {
  width: 100%;
  margin: 10px 5px;
  padding: 10px;
  font-size: 18px;
  font-variant: inherit;
  outline: 0;
  border: 1px solid #ff008e;
}
#contact {
  margin-bottom: 50px;
}
.extra-comment {
  text-align: center;
}
/*-------------------- footer css styles-------------------
---------------------------------------------------------- */

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 250px;
  padding: 20px 0;
}
.footer-icon a {
  margin: 5px;
}
.fa-star {
  color: gold;
}
