/* -----------------------fonts from google ------------------------------
-------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* --------------------------------common styles-----------------------------
-------------------------------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* ----------------header part's css----------------------------------------
 ---------------------------------------------------------------------------*/
header {
  margin-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  color: rgb(201, 87, 87);
  font-weight: 600px;
  padding: 15px 10px;
}
.section-one {
  margin-bottom: 50px;
}
.section-two {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  margin-left: 20px;
}
.section-two-right img {
  width: 70%;
}
/* ----------------------main section csss-----------------------
--------------------------------------------------------------- */
main {
  margin-bottom: 50px;
}

.products-title {
  text-align: center;
}
.products {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 0 auto;
  margin-left: 20px;
}
.product {
  border: 1px solid rgb(245, 166, 166);
  border-radius: 10px;
  padding: 10px;
  width: 350px;
}
.product img {
  width: 350px;
}
/*-------------------- footer css styles-------------------
---------------------------------------------------------- */

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 250px;
  padding: 20px 0;
}
.footer-icon a {
  margin: 5px;
}
